<div class="flex justify-center items-center h-screen">
    <form class="w-full max-w-lg">
      <div class="mb-4">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Assignment Name</mat-label>
          <input matInput type="text" placeholder="Enter Assignment Name" [(ngModel)]="createAssignment.assignmentName" name="AssignmentName" required>
        </mat-form-field>
      </div>
      <div class="mb-4">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Assignment Description</mat-label>
          <textarea matInput placeholder="Enter Assignment Description" [(ngModel)]="createAssignment.AssignmentDescription" name="AssignmentDescription" required></textarea>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" type="submit" (click)="create()">Create</button>
    </form>
  </div>
  
