<div class="flex justify-center items-center h-screen">
    <form class="w-full max-w-lg">
      <div class="mb-4">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Module Name</mat-label>
          <input matInput type="text" placeholder="Enter Module Name" [(ngModel)]="editGrade.score" name="score" required>
        </mat-form-field>
      </div>
      <div class="mb-4">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Module Description</mat-label>
          <textarea matInput placeholder="Enter Module Description" [(ngModel)]="editGrade.feedback" name="feedback" required></textarea>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" type="submit" (click)="edit()">Edit</button>
    </form>
</div>

