<div class="m-5">
  <table mat-table [dataSource]="items" class="mat-elevation-z8 ">
    <ng-container matColumnDef="gradeId">
      <th mat-header-cell *matHeaderCellDef> Grade ID </th>
      <td mat-cell *matCellDef="let element"> {{element.gradeId}} </td>
    </ng-container>
    <ng-container matColumnDef="gradeScore">
      <th mat-header-cell *matHeaderCellDef> Score </th>
      <td mat-cell *matCellDef="let element"> {{element.score}} </td>
    </ng-container>
    <ng-container matColumnDef="gradeFeedback">
      <th mat-header-cell *matHeaderCellDef> Feedback </th>
      <td mat-cell *matCellDef="let element"> {{element.feedback}} </td>
    </ng-container>
    <ng-container matColumnDef="assignmentId">
        <th mat-header-cell *matHeaderCellDef> Assignment ID </th>
        <td mat-cell *matCellDef="let element"> {{element.assignment.assignmentId}} </td>
      </ng-container>
      <ng-container matColumnDef="assignmentName">
        <th mat-header-cell *matHeaderCellDef> Assignment Name </th>
        <td mat-cell *matCellDef="let element"> {{element.assignment.assignmentName}} </td>
      </ng-container>
      <ng-container matColumnDef="assignmentDescription">
        <th mat-header-cell *matHeaderCellDef> Assignment Description </th>
        <td mat-cell *matCellDef="let element"> {{element.assignment.assignmentDescription}} </td>
      </ng-container>
      <ng-container matColumnDef="moduleId">
        <th mat-header-cell *matHeaderCellDef> Module ID </th>
        <td mat-cell *matCellDef="let element"> {{element.assignment.module.moduleId}} </td>
      </ng-container>
      <ng-container matColumnDef="moduleName">
        <th mat-header-cell *matHeaderCellDef> Module Name </th>
        <td mat-cell *matCellDef="let element"> {{element.assignment.module.moduleName}} </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
